footer {
    background-color: #b2d0f7;
}

#footer-items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 28px 8%;
    align-items: center;
}

#coopyright {
    color: #021e3f;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }

}